@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap");

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Quicksand", sans-serif;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #2d2352;
}

article {
  width: 380px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #d60837;
  background: linear-gradient(0deg, #d60837 25%, #ffaa00 100%);
  box-shadow: 0 0 20px #171717;
  border-radius: 20px;
  position: relative;
  transition: 0.25s;
  padding: 20px;
}

#profile-pic {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}

img {
  border-radius: 50%;
  border: 5px solid #d60837;
}

h1 {
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  background: #ffffff;
}

#info {
  background: #ffffff;
  border-radius: 20px;
  margin-top: 0.5rem;
  padding: 20px;
}

#name {
  margin-top: 0.5rem;
  margin-bottom: -0.5rem;
}

h2 {
  font-size: 22px;
  margin-top: 0.5rem;
  margin-bottom: -0.5rem;
  text-decoration: underline solid 1.5px #d60837;
}

#list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  list-style: none;
  margin-top: 0.5rem;
  padding: 15px;
}

li {
  padding: 15px;
  justify-content: space-evenly;
  line-height: 1px;
}

button {
  width: 40px;
  height: 40px;
  font-size: 30px;
  background: #ffaa00;
  color: white;
  border: none;
  border-radius: 50%;
  margin: 10px;
}

button:hover {
  transform: scale(1.2);
  transition-duration: 0.4s;
}

a {
  text-decoration: none; 
  margin-top: rem;
}

a:visited { 
 text-decoration: none; 
 color: white; 
}



/* expand content */

body.expand {
  font-size: 1.15em;
}

body.expand article {
  width: 60vw;
  max-width: 60vw;
}

body.expand button svg:first-of-type {
  opacity: 0;
  transition-delay: 0ms;
}

body.expand button svg:nth-of-type(2) {
  opacity: 1;
  transition-delay: .25s;
}

body.expand dd {
  font-size: 1.75em;
}

body.expand img {
  width: 15em;
}